name: Train/Build & Deploy to Heroku

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Smoke test
        run: |
          python - << 'PY'
          import app
          print("app imported OK")
          PY
          
      - name: Install Heroku CLI
        run: |
        curl https://cli-assets.heroku.com/install.sh | sh

      - name: Setup Heroku
        uses: heroku/actions/setup@v2
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
